.Columns {
    max-width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.Columns h2 {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    font-family: Aller;
    line-height: 50px;
}

.Columns ul {
    padding: 0;
    list-style-type: none;
}

.Columns ul li {
    color: #181C2F;
    font-size: 19px;
    font-style: normal;
    font-weight: 300;
    line-height: 50px;
}

.specialCssA {
    margin-top: 55px;
}

.specialCssB {
    margin-top: 30px;
}

.input {
    margin: 16px 0px;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 39.16px;
    border-bottom: 1px solid rgba(119, 134, 158, 0.21);
}

.input input {
    border: 0;
    outline: none;
}

.hidden {
    display: none;
}

.shown {
    display: block;
}

.buttonPosition {
    display: flex;
    justify-content: left;
}

@media(max-width: 1440px) {
    .Columns {
        max-width: 650px;
    }

    .Columns h2 {
        font-size: 20px;
        line-height: 40px;
    }
    
    .Columns ul li {
        font-size: 17px;
        line-height: 45px;
    }
    
    .input {
        margin: 16px 0px;
        font-size: 17px;
        line-height: 39.16px;
    }

    .specialCssA {
        margin-top: 40px;
    }
    
    .specialCssB {
        margin-top: 30px;
    }
}

@media(max-width: 1024px) {
    .Columns {
        max-width: 500px;
    }

    .Columns h2 {
        font-size: 18px;
        line-height: 30px;
    }
    
    .Columns ul li {
        font-size: 15px;
        line-height: 42px;
    }
}

@media(max-width: 768px) {
    .Columns {
        max-width: 600px;
    }

    .Columns h2 {
        font-size: 20px;
        line-height: 30px;
    }
    
    .Columns ul li {
        font-size: 16px;
        line-height: 42px;
    }
}

@media(max-width: 600px) {
    .Columns {
        max-width: 460px;
        margin: 0 auto;
        flex-wrap: wrap;
    }

    .Columns ul li {
        font-size: 16px;
        line-height: 42px;
    }
    .hidden {
        font-size: 12px;
        display: block;
    }
    
    .shown {
        display: none;
    }
}

@media(max-width: 450px) {
    .Columns {
        max-width: 400px;
        margin: 0 auto;
        flex-wrap: wrap;
    }

    .input input {
        background-color: #FAFAFA;
    }

    .Columns ul li {
        font-size: 16px;
        line-height: 42px;
    }
}