.Step {
    width: 295px;
    height: 413px;
    padding: 5% 3%;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    transition: 0.3s all;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
}

.Step:hover {
    border: 1px solid transparent;
}

.Step img {
    width: 52.63px;
    height: 50px;
}

.Step h2 {
    color: #3639A4;
    font-size: 26px;
    line-height: 30px;
}

.Step p {
    color: #222222;
    text-align: left;
    font-size: 20px;
    line-height: 34px;
}

@media(max-width: 1440px) {
    .Step {
        width: 205px;
        height: 390px;
        padding: 4% 2%;
    }

    .Step img {
        width: 45.63px;
        height: 43px;
    }
    
    .Step h2 {
        font-size: 22px;
    }
    
    .Step p {
        font-size: 18px;
        line-height: 34px;
    }
}

@media(max-width: 1024px) {
    .Step {
        width: 205px;
        height: 300px;
        padding: 4% 2%;
        margin: 20px 0px;
    }

    .Step img {
        width: 38.63px;
        height: 36px;
    }
    
    .Step h2 {
        font-size: 22px;
    }
    
    .Step p {
        font-size: 16px;
        line-height: 28px;
    }
}


@media(max-width: 768px) {
    .Step {
        width: 215px;
        height: 280px;
        padding: 4% 3%;
        margin: 15px 0px;
    }

    .Step img {
        width: 34.63px;
        height: 32px;
    }
    
    .Step h2 {
        font-size: 21px;
    }
    
    .Step p {
        font-size: 18px;
        line-height: 25px;
    }
}

@media(max-width: 450px) {
    .Step {
        width: 160px;
        height: 290px;
        padding: 6% 4%;
        margin: 2% 0%;
    }

    .Step img {
        width: 34.63px;
        height: 32px;
    }
    
    .Step h2 {
        font-size: 21px;
        line-height: 26px;
    }
    
    .Step p {
        font-size: 15px;
        line-height: 23px;
    }
}