.StepsSection {
    max-width: 100%;
    padding: 1% 18%;
}

.StepsSection .description {
    padding: 4% 0%;
}

.StepsSection .description h1, p {
    text-align: center;
}

.StepsSection .description h1 {
    color: #2A434B;
}

.StepsSection .description p {
    line-height: 30px;
    color: #222222;
}

.StepsSection .description p:first-of-type {
    font-size: 18px;
    font-weight: 500;
}

@media(max-width: 768px) {
    .StepsSection .description h1 {
        font-size: 26px;
    }

    .StepsSection .description p {
        font-size: 14px;
    }

    .StepsSection .description p:first-of-type {
        font-size: 16px;
    }
}

@media(max-width: 600px) {
    .StepsSection {
        padding: 1% 10%;
    }

    .StepsSection .description h1 {
        font-size: 22px;
    }

    .StepsSection .description p {
        font-size: 16px;
        line-height: 24px;
    }

    .StepsSection .description p:first-of-type {
        font-size: 16px;
    }
}

@media(max-width: 450px) {
    .StepsSection {
        padding: 1% 5%;
    }

    .StepsSection .description h1 {
        font-size: 22px;
    }
}