.Button {
    width: 107px;
    height: 24px;
    color: #2A434B;
    background-color: transparent;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    border: 0px solid transparent; 
    cursor: pointer;
    transition: 0.3s all;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    outline: none;
}

.Button:hover {
    transform: scale(1.1);
}

.smallButton {
    width: 127px;
    height: 41px;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 18.16px;
    transition: 0.3s all;
}

.smallButton:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
}

.mediumButton {
    width: 172px;
    height: 55px;
}

.largeButton {
    width: 343px;
    height: 68px;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 26.64px;
    transition: 0.3s all;
}

.largeButton:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
}

.orangeButton {
    color: #FFF;
    background-color: #FF7364;
    border-radius: 8px;
    box-shadow: 0px 20px 50px rgba(255, 115, 100, 0.1);
    transition: 0.2s all;
}

.orangeButton:hover {
    background-color: #e95b4b;
}

.purpleButton {
    color: #FFF;
    background-color: #3639A4;
    border-radius: 8px;
    box-shadow: 0px 20px 50px rgba(255, 115, 100, 0.1);
}

.purpleButton:hover {
    background-color: #3D41C9;
}

.mixBlueGreenButton {
    color: #FFF;
    background-color: #45DBE6;
    border-radius: 8px;
    box-shadow: 0px 20px 50px rgba(255, 115, 100, 0.1);
}

.mixBlueGreenButton:hover {
    background-color: #3EC7D1;
}

@media(max-width: 1440px) {
    .largeButton {
        width: 270px;
        height: 58px;
        font-size: 20px;
        line-height: 26.64px;
    }
}

@media(max-width: 1380px) {
    .Button {
        width: 100px;
        height: 17px;
        font-size: 15px;
        line-height: 20px;
    }

    .smallButton {
        font-size: 13px;
        width: 90px;
        height: 28px;
    }

    .mediumButton {
        width: 120px;
        height: 33px;
    }

    .largeButton {
        width: 200px;
        height: 40px;
    }
}

@media(max-width: 768px) {
    .Button {
        font-size: 13px;
    }

    .largeButton {
        width: 250px;
        height: 50px;
        font-size: 18px;
        margin: 0 auto;
    }

    .customButton {
        width: 293px;
        height: 55px;
        font-size: 18px;
        line-height: 21.8px;
        margin: 5px 0px !important;
        border-radius: 5px;
    }
}

@media(max-width: 600px) {
    .Button {
        font-size: 14px;
        margin: 0 auto;
    }

    .largeButton {
        width: 310px;
        height: 62px;
        font-size: 20px;
    }
}

@media(max-width: 450px) {
    .Button {
        font-size: 16px;
    }

    .orangeButton {
        border-radius: 5px;
    }

    .smallButton {
        font-size: 13px;
        width: 110px;
        height: 35px;
    }

    .largeButton {
        width: 290px;
        height: 57px;
        margin: 0 auto;
        font-size: 20px;
        line-height: 24.22px;
    }
}