.StartingSection {
    max-width: 100%;
    height: fit-content;
    padding: 1% 0%;
    background-image: url('../../assets/Background/element.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 4ch;
    background-position-x: -3ch;
}

.StartingSection .content {
    width: 63%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.StartingSection .content .leftSide h1{
    margin: 0;
    color: #3639A4;
    font-weight: bold;
    font-size: 52px;
    line-height: 60px;
}

.StartingSection .content .leftSide {
    width: 50%;
}

.StartingSection .content .leftSide img{
    width: 15px;
    height: 15px;
}

.StartingSection .content .leftSide p{
    margin-bottom: 8%;
    color: #222222;
    font-size: 26px;
    text-align: left;
    line-height: 40px;
}

.StartingSection .content .leftSide .trialOptions {
    display: flex;
    flex-direction: row;
    justify-content: left   ;
    align-items: center;
}

.StartingSection .content .leftSide .trialOptions p {
    color: #77869E;
    font-size: 22px;
    line-height: 44px;
}

.StartingSection .content .leftSide .trialOptions p:first-child {
    margin-right: 15px;
}

.StartingSection .content .rightSide {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}

.StartingSection .content .rightSide img{
    width: 100%;
    height: 100%;
}

@media(max-width: 1380px) {
    

    .StartingSection .content .leftSide h1 {
        font-size: 35px;
        line-height: 43px;
    }

    .StartingSection .content .leftSide p{
        color: #222222;
        font-size: 18px;
        line-height: 30px;
    }

    .StartingSection .content .leftSide .trialOptions p{
        color: #77869E;
        font-size: 14px;
        line-height: 34px;
    }
}

/* MOUSE SCROLL ANIMATION CODE PEN */

.mouse_scroll {
	display: block;
    justify-content: left;
    width: 60%;
    margin: 0 auto;
}


.m_scroll_arrows {
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
   
  border-right: 2px solid #3639A4;
  border-bottom: 2px solid #3639A4;
  margin: 0 0 3px 4px;
  
  width: 16px;
  height: 16px;
}

.unu {
  margin-top: 1px;
}

.unu, .doi, .trei {
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;
  
}

.unu {
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
  
  animation-direction: alternate;
  animation-delay: alternate;
}

.doi {
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .2s;
  animation-direction: alternate;
  
  margin-top: -6px;
}

.trei {
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .3s;
  animation-direction: alternate;  
  margin-top: -6px;
}

.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid #3639A4;
  top: 170px;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: white;
  position: relative;
  
  height: 4px;
  width: 4px;
  border: 2px solid #3639A4;
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel{
   0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-moz-keyframes mouse-wheel {
  0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@-o-keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}

@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}

/* ------------------------------- */

@media(max-width: 1100px) {
    .StartingSection {
        padding: 10% 0%;  
        background-position-x: -16ch;  
        background-position-y: 8ch;
        background-size: 60%;
    }

    .StartingSection .content .leftSide h1 {
        font-size: 27px;
        line-height: 32px;
    }

    .StartingSection .content .leftSide p{
        font-size: 16px;
        line-height: 20px;
    }

    .StartingSection .content .leftSide .trialOptions {
        margin: 5% auto;
    }

    .StartingSection .content .leftSide .trialOptions p{
        font-size: 12px;
        line-height: 14px;
    }
}

@media(max-width: 768px) {
    .StartingSection {
        padding: 140px 0px 100px 0px; 
        /* 
        background-position-x: -13ch;  
        background-position-y: 8ch;
        background-size: 60%;
        */
    }

    .StartingSection .content {
        width: 70%;
    }

    .StartingSection .content .leftSide .trialOptions {
        margin: 4% auto;
    }

    .StartingSection .content .leftSide .trialOptions p:first-child {
        margin-right: 10px;
    }

    .mouse_scroll {
        display: none;
    }

}

@media(max-width: 600px) {
    .StartingSection {
        height: fit-content;
        padding-top: 108px;
    }

    .StartingSection .content {
        width: 100%;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .StartingSection .content .leftSide {
        width: 80%;
    }

    .StartingSection .content .leftSide h1 {
        font-size: 28px;
        line-height: 30px;
    }

    .StartingSection .content .leftSide p{
        text-align: center;
        font-size: 18px;
        line-height: 20px;
    }

    .StartingSection .content .leftSide .trialOptions {
        width: 50%;
        margin: 4% auto;
        flex-direction: column;
        align-items: flex-start;
    }

    .StartingSection .content .leftSide .trialOptions p {
        margin: 3% 0%;
        color: #77869E;
        font-size: 14px;
    }

    .StartingSection .content .rightSide {
        width: 80%;
    }
    
}

@media(max-width: 450px) {
    .StartingSection {
        padding-top: 82px;
    }

    .StartingSection .content {
        width: 90%;
    }

    .StartingSection .content .leftSide p {
        margin: 6% 0%;
        font-size: 18px;
        line-height: 20px;
    }

    .StartingSection .content .leftSide h1{
        font-size: 32px;
        line-height: 36px;
    }

    .StartingSection .content .leftSide .trialOptions {
        width: 80%;
        margin: 8% auto;
        flex-direction: column;
        align-items: flex-start;
    }

    .StartingSection .content .leftSide .trialOptions p:first-child {
        margin-right: 0px;
    }

    .StartingSection .content .leftSide .trialOptions p {
        margin: 5% 0%;
        color: #77869E;
        font-size: 16px;
        line-height: 0px;
    }

    .StartingSection .content .rightSide {
        width: 90%;
    }
}
