.Header {
    max-width: 100%;
    padding: 2% 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Header .logoAndLinksPart {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.Header .burgerMenu {
    display: none;
    justify-content: center;
    align-items: center;
}

.Header .user {
    width: 40px;
    height: 40px;
    background-color: #FF7364;
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
}

@media(max-width: 1380px) {
    .Header img {
        width: 30%;
        height: 30%;
    }
}

@media(max-width: 768px) {
    .Header {
        padding: 3% 4%;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05);
    }

    .Header img {
        width: 55%;
        height: 45%;
    }

    .Header .logoAndLinksPart {
        justify-content: center;
    }

    .Header .options {
        display: none;
    }

    .Header .burgerMenu {
        display: flex;
    }

    .Header .user {
        display: flex;
    }
}