.Overview {
    width: 100%;
    padding: 3% 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.reverse {
    flex-direction: row-reverse;
}

.Overview .leftSideOverview {
    width: 36%;
}

.Overview .leftSideOverview img {
    width: 24px;
    height: 24px;
}

.Overview .leftSideOverview h2 {
    color: #3639A4;
}

.Overview .leftSideOverview p{
    width: 90%;
    color: #222222;
    text-align: left;
}

.Overview .leftSideOverview p:first-of-type{
    color: #2A434B;
}

.Overview .rightSideOverview {
    width: 64%;
}

.Overview .rightSideOverview img {
    width: 100%;
    position: relative;
}

.moveImageLeft {
    left: -19%;
}

.moveImageRight {
    right: -18%;
}

@media(max-width: 1024px) {
    .Overview .leftSideOverview img {
        width: 20px;
        height: 20px;
    }

    .Overview .leftSideOverview h2 {
        font-size: 20px;
    }

    .Overview .leftSideOverview p:first-of-type{
        font-size: 15px;
    }
    
    .Overview .leftSideOverview p{
        font-size: 14px;
    }

    .Overview .rightSideOverview img {
        width: 95%;
    }
}

@media(max-width: 600px) {
    .Overview {
        width: 100%;
        padding: 3% 0%;
        flex-direction: column-reverse;
        justify-content: space-around;
    }

    .Overview .leftSideOverview {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Overview .leftSideOverview p{
        width: 100%;
        text-align: center;
    }
    
    .Overview .rightSideOverview {
        width: 100%;
    }

    .moveImageLeft {
        left: -6%;
    }
    
    .moveImageRight {
        right: -8%;
    }
}

@media(max-width: 450px) {
    .Overview .leftSideOverview {
        padding: 10% 0%;
    }
    
    .Overview .rightSideOverview {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Overview .rightSideOverview img {
        width: 120%;
    }

    .Overview .leftSideOverview h2 {
        font-size: 18px;
        line-height: 32px;
        text-align: center;
    }

    .Overview .leftSideOverview p{
        font-size: 14px;
        line-height: 22px;
    }

    .moveImageLeft {
        left: -10%;
    }
    
    .moveImageRight {
        right: -8%;
    }
}