.Overview {
    max-width: 1250px;
    padding: 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.reverse {
    flex-direction: row-reverse;
}

.Overview .leftSideOverview {
    width: 36%;
    padding-top: 70px;
}

.Overview .leftSideOverview img {
    width: 36.84pxpx;
    height: 35px;
}

.Overview .leftSideOverview h2 {
    color: #3639A4;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 55px;
}

.Overview .leftSideOverview p {
    color: #222222;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
    text-align: left;
}

.Overview .leftSideOverview p:first-of-type {
    color: #2A434B;
    font-size: 22px;
}

.Overview .rightSideOverview {
    width: 64%;
}

.Overview .rightSideOverview img {
    width: 100%;
    position: relative;
}

.moveImageLeft {
    left: -19%;
}

.moveImageRight {
    right: -18%;
}

@media(max-width: 1440px) {
    .Overview {
        max-width: 900px;
    }
    
    .Overview .leftSideOverview h2 {
        font-size: 30px;
        line-height: 40px;
    }
    
    .Overview .leftSideOverview p {
        font-size: 20px;
        line-height: 26px;
    }
    
    .Overview .leftSideOverview p:first-of-type {
        font-size: 18px;
        line-height: 16px;
    }
}

@media(max-width: 1024px) {
    .Overview {
        max-width: 700px;
    }

    .Overview .leftSideOverview {
        padding-top: 50px;
    }
    
    .Overview .leftSideOverview h2 {
        font-size: 24px;
        line-height: 30px;
    }
    
    .Overview .leftSideOverview p {
        font-size: 16px;
        line-height: 22px;
    }
    
    .Overview .leftSideOverview p:first-of-type {
        font-size: 16px;
        line-height: 10px;
    }

    .Overview .leftSideOverview img {
        width: 31.84pxpx;
        height: 30px;
    }
}

@media(max-width: 768px) {
    .Overview {
        max-width: 500px;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .Overview .leftSideOverview {
        width: 100%;
        padding-top: 0px;
        text-align: center;
    }
    
    .Overview .leftSideOverview h2 {
        font-size: 26px;
    }
    
    .Overview .leftSideOverview p {
        font-size: 16px;
        line-height: 20px;
        text-align: center;
    }
    
    .Overview .leftSideOverview p:first-of-type {
        text-align: center;
    }

    .Overview .rightSideOverview {
        width: 100%;
    }

    .moveImageLeft {
        left: -10%;
    }
    
    .moveImageRight {
        right: -5%;
    }
}

@media(max-width: 600px) {
    .Overview .leftSideOverview {
        width: 600px;
        padding-top: 0px;
        text-align: center;
    }
    
    .Overview .leftSideOverview h2 {
        font-size: 28px;
    }
    
    .Overview .leftSideOverview p {
        font-size: 20px;
        line-height: 20px;
        text-align: center;
    }
    
    .Overview .leftSideOverview p:first-of-type {
        text-align: center;
    }

    .Overview .rightSideOverview {
        width: 100%;
    }

    .moveImageLeft {
        left: -10%;
    }
    
    .moveImageRight {
        right: -5%;
    }
}

@media(max-width: 450px) {
    .Overview .leftSideOverview {
        max-width: 90%;
        padding-top: 0px;
        text-align: center;
    }
    
    .Overview .leftSideOverview h2 {
        font-size: 28px;
    }
    
    .Overview .leftSideOverview p {
        font-size: 20px;
        line-height: 20px;
        text-align: center;
    }
    
    .Overview .leftSideOverview p:first-of-type {
        text-align: center;
    }

    .Overview .rightSideOverview {
        max-width: 90%;
    }

    .moveImageLeft {
        left: -10%;
    }
    
    .moveImageRight {
        right: -5%;
    }
}



