.OverviewSection {
    max-width: 100%;
    padding: 1% 10%;
}

.OverviewSection .description {
    padding: 4% 0%;
}

.OverviewSection .description h1, p {
    text-align: center;
}

.OverviewSection .description h1 {
    color: #2A434B;
}

.OverviewSection .description p {
    line-height: 30px;
    color: #222222;
}

@media(max-width: 1024px) {
    .OverviewSection .description h1 {
        font-size: 26px;
    }
    
    .OverviewSection .description p {
        font-size: 16px;
    }

    .OverviewSection p, h2 {
        margin: 1% 0%;
    }
}

@media(max-width: 768px) {
    .OverviewSection .description h1 {
        font-size: 26px;
    }

    .OverviewSection .description p {
        font-size: 16px;
    }
}

@media(max-width: 600px) {
    .OverviewSection {
        padding: 1% 10%;
    }

    .OverviewSection .description {
        padding: 12% 0%;
    }

    .OverviewSection .description h1 {
        font-size: 22px;
    }

    .OverviewSection .description p {
        font-size: 14px;
        line-height: 24px;
    }
}

@media(max-width: 450px) {
    .OverviewSection {
        padding: 1% 0%;
    }

    .OverviewSection .description {
        padding: 10% 5%;
    }
}