.overviewBackgroundShape {
    margin-top: 100px;
    padding-top: 20px;
    background: url('../../assets/Background/overviewBackgroundShape.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.OverviewSection {
    max-width: 1250px;
    margin: 20px auto 20px auto;
}

.OverviewSection .description {
    padding: 50px 0px;
}

.OverviewSection .description h1, p {
    text-align: center;
}

.OverviewSection .description h1 {
    color: #2A434B;
    font-size: 48px;
    font-weight: 700;
    line-height: 62px;
}

.OverviewSection .description p {
    color: #222222;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
}

@media(max-width: 1440px) {
    .OverviewSection {
        max-width: 900px;
    }

    .OverviewSection .description h1 {
        font-size: 40px;
    }
    
    .OverviewSection .description p {
        font-size: 22px;
    }
}

@media(max-width: 1024px) {
    .OverviewSection {
        max-width: 700px;
    }

    .OverviewSection .description h1 {
        font-size: 32px;
    }
    
    .OverviewSection .description p {
        font-size: 16px;
    }
}

@media(max-width: 768px) {
    .overviewBackgroundShape {
        margin-top: 60px;
    }

    .OverviewSection {
        max-width: 500px;
    }

    .OverviewSection .description {
        padding-bottom: 0;
    }

    .OverviewSection .description h1 {
        font-size: 28px;
    }
    
    .OverviewSection .description p {
        font-size: 16px;
    }
}

@media(max-width: 600px) {
    .overviewBackgroundShape {
        margin-top: 50px;
    }

    .OverviewSection {
        max-width: 500px;
    }

    .OverviewSection .description h1 {
        font-size: 30px;
        line-height: 36px;
    }
    
    .OverviewSection .description p {
        font-size: 20px;
        line-height: 23px; 
    }
}

@media(max-width: 450px) {
    .OverviewSection {
        max-width: 100%;
        margin-top: 10px;
    }

    .OverviewSection .description {
        max-width: 90%;
        padding-bottom: 0;
        margin: 0 auto;
    }

    .OverviewSection .description h1 {
        font-size: 30px;
        line-height: 36px;
    }
    
    .OverviewSection .description p {
        
        font-size: 21px;
        line-height: 32px; 
    }
}