.Feature {
    padding: 4.5%;
    width: 38%;
}

.Feature img {
    width: 27px;
    height: 27px;
    background-color: #F4FEFF;
    border-radius: 50%;
    padding: 2%;
}

.highlighted {
    background-color: #FFF;
    border-radius: 8px;
    box-shadow: 0px 20px 30px rgba(54, 57, 164, 0.05);
}



@media(max-width: 450px) {
    .Feature {
        width: 70%;
        margin-bottom: 10%;
        padding: 8%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .Feature img {
        width: 40px;
        height: 40px;
    }
}